<header class="header-flex-wrapper">
  <div class="left-container">
    <img class="logo" src="assets/images/logo.png" alt="Devflix, el sitio de tus series favoritas"/>
    <a href="#">Explorar <i class="fa fa-caret-down"></i></a>
  </div>
  <div class="right-container">
    <input type="text" placeholder="Títulos, personas, géneros" />
    <i class="fa fa-search" aria-hidden="true"></i>
    <i class="fa fa-bell"></i>
    <img class="perfil" src="assets/images/bryam.jpg">
    <span class="name">Bryam</span>
    <i class="fa fa-caret-down"></i>
  </div>
</header>
<section class="preview">
  <div class="background-info">
    <img class="titulo" src="assets/images/ouija.png"/>
    <span>2015</span>
    <span>NR</span>
    <span>1h 24m</span>
    <p>Cada generación tiene un terrorífico juego de miedo. Ahora están en uno... y quizá no lleguen a conocer el siguiente.</p>
    <button class="button primary"><i class="fa fa-play" aria-hidden="true"></i>Reproducir</button>
    <button class="ln-button transparent"><i class="fa fa-plus" aria-hidden="true"></i> Mi lista</button>
  </div>
  <img class="background" src="assets/images/ouija-background.jpg"/>
</section>
<h2>Agregados recientemente</h2>
<section class="contain">
  <div class="row">
    <div class="row__inner">
      <article class="tile" ng-repeat="film in dataList | filter: {recently: true}">
        <img class="tile__img" src="{{film.poster}}" alt=""  />
        <div class="tile__details">
          <span class="tile__title">{{film.title}}</span>
        </div>
      </article>
    </div>
  </div>
</section>
<h2>Comedia</h2>
<section class="contain">
  <div class="row">
    <div class="row__inner">
      <article class="tile" ng-repeat="film in dataList | filter: {genre: 'Comedy'}">
        <img class="tile__img" src="{{film.poster}}" alt=""  />
        <div class="tile__details">
          <span class="tile__title">{{film.title}}</span>
        </div>
      </article>
    </div>
  </div>
</section>
<h2>Drama</h2>
<section class="contain">
  <div class="row">
    <div class="row__inner">
      <article class="tile" ng-repeat="film in dataList | filter: {genre: 'Drama'}">
        <img class="tile__img" src="{{film.poster}}" alt=""  />
        <div class="tile__details">
          <span class="tile__title">{{film.title}}</span>
        </div>
      </article>
    </div>
  </div>
</section>